.actor-detail__header {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.05); /* nền mờ */
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* đổ bóng */
  backdrop-filter: blur(10px); /* hiệu ứng mờ */
}


.actor-detail__img {
  width: 280px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* đổ bóng */
  object-fit: cover;
}

.actor-detail__info {
  flex: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f0f0f0;
}

.actor-detail__info strong {
  color: #ff0000; /* vàng nhạt */
  font-weight: 600;
}


.actor-detail__bio {
  margin-top: 1rem;
  line-height: 1.7;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 1rem;
  color: #ccc;
}


.section__title {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  font-weight: 700;
  border-left: 5px solid #ff0000;
  padding-left: 1rem;
  color: white;
}


.actor-detail.container {
  padding-top: 150px; 
}