input {
    border: 0;
    background-color: #000; /* $black */
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px; /* $border-radius */
    color: #fff; /* $txt-color */
    font-family: "Montserrat", sans-serif; /* $font-family */
}
