@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #0f0f0f;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}

@media (hover: hover) {
  a:hover {
    color: #ff0000;
  }
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

.container {
  /* max-width: 1440px; */
  max-width: 1660px;
  margin: auto;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.section {
  padding: 0 2rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nếu cần dùng overlay class */
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Nếu có box shadow dùng chung */
.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


